# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/
.env/
*.env

# Poetry & pipenv
poetry.lock
Pipfile.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm & VSCode
.idea/
.vscode/

# Mac OS
.DS_Store

# Logs
*.log

# Local test results
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# Pytype
.pytype/

# profiling data
.prof

# dotenv
.env
.env.*

# Build
build/
dist/
*.egg-info/
